*.html
*.eld
*.dat
*ido*
*.html
*.pdf
*.tex

eshell
network-security.data
.python-environments
irony
dmenu-items
recentf
smex-items
tramp
emms
auto-save-list
elpa
*cache
semanticdb
recentf
project-explorer-cache